.App {
  text-align: center;
}

.App-logo {
  height: 10vh;
  pointer-events: none;
}

.title {
  height: 7.5vh;
  font-size: 5vh;
  padding-top: 2.5vh;
  font-family: 'Noto Sans';
  color: #ffffff;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
